{{define "base"}}
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>{{template "title" .}} - Snippetbox</title>
    <link rel='stylesheet' href='/static/css/main.css'>
    <link rel='shortcut icon' href='/static/images/favicon.ico' type='image/x-icon'>
    <!-- Подключаем новый шрифт для сайта от Google Fonts -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
  </head>
<body>
  <header>
    <h1><a href='/'>Snippetbox</a></h1>
  </header>
  <nav>
    <a href='/'>Домашняя страница</a>
    <a href="/snippet/creation">Cоздать СНИППЕТ АХАХАА🤙</a>
    <a href="/logout">Выйти из профиля</a>
  </nav>
  <main>
    {{template "main" .}}
  </main>
  <!-- Вызываем перемогу из подвала -->
  {{template "basement" .}}
  <script src="/static/js/main.js" type="text/javascript"></script>
</body>
</html>
{{end}}